*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
input{
  /* 去除获得焦点时的轮廓线 */
  outline: none;
}
html,body{
  height: 100%;
}
body{
  display: flex;
  background: linear-gradient(to right,rgb(180, 214, 228),rgb(247,209,215));
}
.pre-box{
  width: calc(1050px/2);
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  border-radius: 4px;
  box-shadow: 4px 4px 3px rgba(0,0,0,.1);
  background-color: #c6d4e0;
  transition: 0.5s ease-in-out;
  transform: translateX(0);
}
.pre-box h1{
  font-size: 50px;
  text-align: center;
  text-shadow: 2px 2px 2px gray;
  /* 字间距 */
  letter-spacing: 5px;
  margin-top: 170px;
}
.pre-box p{
  font-size: 25px;
  text-align: center;
  text-shadow: 2px 2px 2px gray;
  font-weight: bold;
  letter-spacing: 2px;
  margin: 20px 0;
}
.btn-box p:hover{
  color: aliceblue;
}
/*
.img-box{
width: 200px;
height: 200px;
border-radius: 50%;
overflow: hidden;
box-shadow: 2px 2px 2px #262424;
margin: 0 auto;
}
*/
.container{
  position: relative;
  width: 1050px;
  height: 600px;
  display: flex;
  /* background-color: #fff; */
  margin: auto;
  border-radius: 5px;
  border: 1px solid #aca7a7;
  box-shadow: 4px 4px 3px rgba(0,0,0,.1);
}
@media  screen and (max-width:1000px) {
  .container{
    width: 800px;
  }
  .pre-box{
    width: calc(800px/2);
  }
}
@media  screen and (max-width:650px) {
  .container{
    width: 500px;
  }
  .pre-box{
    width: calc(500px);
  }
}
.denglu,.zhuce{
  flex: 1;
  height: 100%;
}
.title-box{
height: 300px;
line-height: 500px;
}
.title-box h1{
  text-align: center;
  /*  */
  letter-spacing: 3px;
  text-shadow: 2px 2px 2px gray;

}
.input-box{
  display: flex;
  /* 列排 */
  flex-direction: column;
  align-items: center;
}
input{
  width: 60%;
  height: 40px;
  margin-bottom: 20px;
  /*  */
  text-indent: 4px;
  border: 1px solid #b0bdc8;
  border-radius: 5px;
  
}
input:focus{
  color: rgb(165, 188, 188);
}
input:focus::placeholder{
  opacity: 0;
}
.btn-box{
  display: flex;
  justify-content: center;
  cursor: pointer;
}
button{
  width: 100px;
  height: 30px;
  line-height: 30px;
  margin: 0 7px;
  /*  */
  border: none;
  background-color: #7aa2ae;
  color: white;
}
button:hover{
  cursor: pointer;
  opacity: .8;
}
